{{> header}}
{{#usuario}}

    <div class="flex flex-col justify-center items-center w-full h-screen">
        <div class="w-full max-w-md mx-auto p-8 bg-white rounded shadow-lg">
            <div class="md:flex ">
                <div class="md:w-1/2 flex justify-center items-center">
                    <!-- Foto de perfil -->
                    <img src="https://i.ibb.co/L1LQtBm/Ellipse-1.png" alt="Foto de perfil" class="w-32 h-32 rounded-full object-cover">
                </div>
                <div class="md:w-1/2 flex justify-center items-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" alt="Código QR" class="w-32 h-32">
                </div>
            </div>

            <h2 class="text-xl text-center mt-4 font-bold">{{nombre}} {{apellido}}</h2>
            <div class="flex justify-between mt-6">
                <!-- Puntaje -->
                <div>
                    <p class="text-gray-600">Puntaje final:</p>
                    <p class="text-2xl font-bold">NhN</p>
                </div>
                <!-- Puntaje2 -->
                <div>
                    <p class="text-gray-600">Partidas realizadas:</p>
                    <p class="text-2xl font-bold">NhN</p>
                </div>
            </div>

            <!-- Mapa -->
            <div class="mt-6">
                <h3 class="text-lg font-bold">Ubicación</h3>
                <div id="map" class=" h-40"></div>
            </div>
        </div>
    </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvZj61EiOcl1RlGGo3dt9u2OpyqqYkohk"></script>
<script>
    function initMap() {
        var myLatLng = {lat: 40.7128, lng: -74.0060};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng,
            disableDefaultUI: true,
            zoomControl: true,
            gestureHandling: 'cooperative'
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Marcador'
        });
    }

    // Inicializar el mapa cuando la página haya cargado
    window.onload = function () {
        initMap();
    };
</script>
{{/usuario}}