{{> header}}

<div>

    <h2> preguntas</h2>

    <button onclick="preguntar()"> realizar pregunta</button>

    <div id="pregunta"></div>
    <div id="respuesta_a"></div>
    <div id="respuesta_b"></div>
    <div id="respuesta_c"></div>
    <div id="respuesta_d"></div>


</div>

<script>

    function preguntar() {
        $.ajax({
            url: 'http://localhost/TpFinal/partida/nuevaPregunta',
            method: 'GET',
            success: function (response) {
                var pregunta = JSON.parse(response);
                $('#pregunta').text(pregunta.pregunta);
                $('#respuesta_a').text(pregunta.respuesta_a);
                $('#respuesta_b').text(pregunta.respuesta_b);
                $('#respuesta_c').text(pregunta.respuesta_c);
                $('#respuesta_d').text(pregunta.respuesta_d);
            },
            error: function (xhr, status, error) {
                alert("Se produjo un error al obtener la pregunta");
            }
        });
    }


</script>



