{{> header}}

<div class="flex flex-col justify-center items-center w-full h-screen">
    <div class="bg-purple-500 p-4 rounded-lg shadow-lg">
        <h1 class="font-bold text-5xl text-center text-white">Pregunta {{nroPregunta}}</h1>
    </div>
    <div class="bg-white p-12 rounded-lg shadow-lg w-[90%] sm:w-[500px] mt-8">
        {{#deporte}}
            <div class="w-full text-center text-xl text-orange-800 font-bold p-4 bg-orange-300">Deporte</div>
        {{/deporte}}
        {{#geografia}}
            <div class="w-full text-center text-xl text-purple-400 font-bold p-4 bg-purple-200">Geografía</div>
        {{/geografia}}
        {{#musica}}
            <div class="w-full text-center text-xl text-pink-800 font-bold p-4 bg-pink-300">Música</div>
        {{/musica}}
        <p class="text-xl text-purple-500 my-2">Puntaje: {{puntos}}</p>
        <p class="text-2xl font-bold my-2">{{pregunta.pregunta}}</p>
        <form method="POST" action="/tpFinal/partida/responder">
            <label for="a" id="opcion-a"
                   class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="a" type="radio" class="hidden">{{respuestas.a.respuesta}}</label>
            <label for="b" id="opcion-b"
                   class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="b" type="radio" class="hidden">{{respuestas.b.respuesta}}</label>
            <label for="c" id="opcion-c"
                   class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="c" type="radio" class="hidden">{{respuestas.c.respuesta}}</label>
            <label for="d" id="opcion-d"
                   class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg duration-100 hover:text-gray-100 hover:bg-gray-500 cursor-pointer">
                <input id="d" type="radio" class="hidden">{{respuestas.d.respuesta}}</label>
            <div class="w-full flex justify-between mt-6">
                <button class="text-purple-500 text-md font-bold tracking-wide px-5 py-2">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Reportar
                </button>
                <input type="hidden" name="pregunta" id="pregunta" value="{{pregunta.id}}">
                <input type="hidden" name="respuesta_seleccionada" id="respuesta_seleccionada" value="">
                <button type="submit"
                        class="bg-purple-500 text-white text-sm font-bold tracking-wide rounded-full px-5 py-2">
                    Responder
                </button>
            </div>
        </form>
    </div>
</div>
        <script>
    let opcionA = $('#opcion-a');
    let opcionB = $('#opcion-b');
    let opcionC = $('#opcion-c');
    let opcionD = $('#opcion-d');
    let respuestaSeleccionadaInput = $('#respuesta_seleccionada');

    opcionA.click(function () {
        $(this).addClass('bg-gray-500 text-gray-100');
        opcionB.removeClass('bg-gray-500 text-gray-100');
        opcionC.removeClass('bg-gray-500 text-gray-100');
        opcionD.removeClass('bg-gray-500 text-gray-100');
        respuestaSeleccionadaInput.val('{{respuestas.a.id}}');
    });
    opcionB.click(function () {
        $(this).addClass('bg-gray-500 text-gray-100');
        opcionA.removeClass('bg-gray-500 text-gray-100');
        opcionC.removeClass('bg-gray-500 text-gray-100');
        opcionD.removeClass('bg-gray-500 text-gray-100');
        respuestaSeleccionadaInput.val('{{respuestas.b.id}}');
    });
    opcionC.click(function () {
        $(this).addClass('bg-gray-500 text-gray-100');
        opcionA.removeClass('bg-gray-500 text-gray-100');
        opcionB.removeClass('bg-gray-500 text-gray-100');
        opcionD.removeClass('bg-gray-500 text-gray-100');
        respuestaSeleccionadaInput.val('{{respuestas.c.id}}');
    });
    opcionD.click(function () {
        $(this).addClass('bg-gray-500 text-gray-100');
        opcionA.removeClass('bg-gray-500 text-gray-100');
        opcionB.removeClass('bg-gray-500 text-gray-100');
        opcionC.removeClass('bg-gray-500 text-gray-100');
        respuestaSeleccionadaInput.val('{{respuestas.d.id}}');
    });
</script>

<style>
    body {
        background-image: url("/TpFinal/public/img/quiz_time.jpg");
        background-size: cover;
        background-position: center;
    }
</style>