{{> header}}

<style>
    .neon-border {
        position: relative;
        box-shadow: 0 0 20px #6ee7f5, 0 0 40px #6ee7f5, 0 0 60px #6ee7f5;
    }
</style>

<div class="relative">
    <div class="absolute inset-0 bg-gray-100"></div>
    <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('/TpFinal/public/img/quiz_time.jpg')"></div>
    <div class="flex flex-col items-center justify-center min-h-screen relative">
        <div class="bg-white shadow-lg rounded-lg p-8 neon-border">
            <h1 class="text-5xl font-bold text-center text-blue-400 mb-8">¡Respuesta Correcta!</h1>
            <a href="/tpFinal/partida/mostrarPregunta?partida={{idPartida}}">
            <div class="flex items-center group hover:bg-blue-300 transition duration-300 rounded-lg p-4">
                <img src="/TpFinal/public/img/carafeliz1.png" class="h-24 mr-2" alt="Cara Feliz" />
                <div>
                    <p class="text-xl font-bold text-black-300 text-center">Siguiente Pregunta</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
