{{> header}}
<a href="/tpFinal/partida/mostrarPregunta?partida={{idPartida}}"
   class="flex justify-center lg:justify-start items-center hover:text-white text-center lg:text-start focus:bg-gray-700 focus:text-white hover:bg-gray-700 text-gray-400 rounded px-3 py-2 w-full lg:w-52">
    <p class="mx-2 sm:mx-1 lg:w-4/5 text-base">Siguiente pregunta</p>
</a>